<%- include('./partials/header') %>
    
<br><br><br><br><br><br><br>
<p>Welcome to <span><strong><%= title %></strong></span>!</p>
<p>We are currently under construction.</p>
<p>Hold tight! Lot's of cool functionality to come.</p>


<%- include('./partials/footer') %>