body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #383838;
  color: white;
  font-family: Tahoma, Geneva, Verdana, sans-serif;
  margin: 0 auto;
  
}

#page-wrap {
  width: 800px;
  margin: 0 auto;
}

a {
  color: #ffffff;
  text-decoration: none;
}
a:hover {
  color: rgb(217, 81, 64);
  text-decoration: underline;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
}

.login img {
  height: 30px;
}

.logo {
  height: 50px;
  border: 2px solid black;
  border-radius: 10px;
  margin: 2px;
}

.active .logo {
  border: 2px solid  rgb(80, 135, 236);
}

.logo:hover {
  border: 2px solid  rgb(217, 81, 64);
}

.exercise-creator-avatar, .user-avatar {
  height: 50px;
  border-radius: 10px;

}

.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: black;
  border-radius: 10px;
  color: white;
  padding: 3px;
}

.home-page {
  text-align: center;
}

.active {
  color: rgb(80, 135, 236);
  text-decoration: underline;
}

button {
  background-color: white;
  border-radius: 5px;
  border-color: white;
  text-align: center;
  height: 30px;
}

button:hover {
  border-color: rgb(217, 81, 64);
}

.add-exercise-btn {
  background-color: rgb(88, 165, 92);
  border-color: rgb(88, 165, 92);
  color: white;
  justify-self: center;
}

.add-exercise-btn:hover {
  border-color: rgb(217, 81, 64);
}

.cancel-btn {
  background-color: rgb(217, 81, 64);
  color: white;
}

.detail-btn {

  background-color: rgb(80, 135, 236);
  border-color: rgb(80, 135, 236);
  color: white;
}
.edit-btn {
  background-color: rgb(242, 189, 66);
}

#fav-btn, #unfav-btn {
  background-color: #818181;
}
.demo-link a {
  color: rgb(80, 135, 236);
}
.row {
  display: flex;
  flex-direction: row;
  padding: 10px;
}

.profile-row {
  display: flex;
  flex-direction: row;
  padding: 1px;
}

.left {
  width: 20%;
  display: flex;
  justify-content: flex-end;
  padding: 12px;
  align-items: center;
}

.p-left {
  width: 15%;
  display: flex;
  justify-content: flex-start;
  padding: 14px;
  align-items: center;
}

.right {
  width: 50%;
  display: flex;
  align-items: center;
  

}
.show-btns {
  display: flex;
  justify-content: space-evenly;
  width: 70%;
}
.edit-exercise-btn{
  display: flex;
  justify-content: center;
}

form *, 
.dropdown {
  font-size: 15px;
  padding: 5px;
  border-radius: 5px;
}

#new-form input[type="submit"] {
  grid-column: span 2;
  width: 10rem;
  margin-right: 0 auto;
}

.home-page-table td{
  font-size: 14px;
  padding: 5px;
}

.home-page-table td{
  font-size: 14px;
  padding: 5px;
}

table {
  font-size: 16px;
  margin: 0 auto;
}

table thead th {
  padding: 5px;
  border-bottom: 2px solid #424748;
}

table td {
  padding: 10px;
  text-align: center;
}

#list td:nth-child(2), #list td:nth-child(3){
  min-width: 10px;
}
