body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}


.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
}

.login img {
  height: 30px;
}

.logo {
  height: 50px;
  border-radius: 10px;

}

.exercise-creator-avatar, .user-avatar {
  height: 50px;
  border-radius: 10px;

}

.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: black;
  border-radius: 10px;
  color: white;
}

.home-page {
  text-align: center;
}

.active {
  color: red;
}