<%- include('../partials/header') %>

<h2>Input New Exercise Info Below:</h2>
<form action="/exercises" method="POST">
  
    <label><strong>Exercise Name: </strong> 
        <input type="text" name="name">
    </label><br><br> 

    <label><strong>Description/Instruction: </strong><br>
        <textarea type="text" name="description" id="" cols="30" rows="10"></textarea>
    </label><br><br>

    <label><strong>Body Part Worked: </strong>
        <select name="bodyPart">
            <option value="Upper Body">Upper Body</option>
            <option value="Lower Body">Lower Body</option>
            <option value="Full Body">Full Body</option>
            <option value="Other">Other</option>
        </select>
    </label><br><br>

    <label><strong>Link to Demo Video: </strong> 
        <input type="text" name="demo">
        <small>*Optional</small>  
    </label><br><br>

    <!-- add check box for creator to favorite exercise-->
    

  <input class="add-exercise-btn" type="submit" value="Add Exercise">
  <br><br>
  <!-- cancel new exercise, return to exercises index-->
</form>
<button class="cancel-btn" onclick="window.location.href='/exercises'">Cancel</button>

  
<%- include('../partials/footer') %>